@charset "utf-8";
/* CSS Document */

/* 
GLOBALS
*/

/* Don't remove this! prevents the page offset */
html { overflow-y: scroll; margin:0; padding:0; }
* { margin: 0; padding: 0; }


body {
	font: 0.9em  Helvetica, Lucida Grande, Arial, sans-serif;
	color: #343434;
	background: #ffffff url('img/theme/background.png');
	background-repeat:repeat;
	background-attachment:fixed;
	background-position:bottom;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 944px;
	margin: 30px auto;
	background: url("img/theme/header-gradient2.png") no-repeat;
	padding: 65px 0px 0px 0px;
	/*border: 12px solid #2e2e2e;*/
	position:relative;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 15px 0;
	/*padding: 0.3em 0;*/
	text-indent:-99999px;
}

h2 img {
	vertical-align: middle;
}


.box {
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	background: transparent;
	text-align: justify;
	/*border: 1px solid #d9d9d9;*/
}

.box_get {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background: url('img/theme/box-1-bg.png');
	border: 1px dashed #1756b6;
}

.box_get p {
	margin-left: 60px;
	color: #46494d;
	margin-right: 0px;
}

table.centered
{ 
	margin-left: auto;
	margin-right: auto;
}

/* 
MENU BAR
*/
#main_nav {
	list-style: none;
	padding-right: 2px;
	right: 0px;
	margin: 0 0 0 0;
	top: 118px;
	position: absolute;
        z-index: 1;
	width: 942px;
	background: #1a1a1a;
	display: block;
	overflow: hidden;
	font-size: 0.9em;
	font-weight: normal;
	height:33px;
	text-transform:capitalize;
}

#main_nav li {
	display: inline;
	margin: 0 3px;
	padding: 0;
	text-align: center;
	font-size: 13px;
	line-height: 33px;
	background: transparent;
	float: right;
}

#main_nav a {
	display: block;
	float: right;
	padding: 0 8px;
	color: #f2f2f2;
	text-decoration: none;
}




#main_nav .selected {
        color: #FFF;
        text-decoration: none;
        background-color: #ec4530;
        background: #32ADF1;
        -moz-border-radius: 4px; border-radius: 4px;
}



#main_nav a:hover {
	border: none;
	background: url("../img/theme/nav_bar_r.jpg") repeat-x bottom center;
	-moz-border-radius: 4px; border-radius: 4px;
}

/*
SUB-MENU BAR
 */

#chakra_nav {
  padding-top: 45px;
  right: 2px;
  min-width: 700px;
  background-color: transparent;
}

#chakra_nav ul {
	margin-right: 15px;
}

#chakra_nav li {
	display: inline;
	margin-right: 2px;
	padding: 0;
	text-align: center;
	font-size: 13px;
	font-weight: light;
	background: transparent;
	float: right;
}

#chakra_nav a {
	padding: 0 8px;
	color: #1a1a1a;
	text-decoration: none;
}

#chakra_nav a:hover {
	color: black;
}

#chakra_nav h2 {
	margin: 0;
	padding-left: 40px;
	font-size: 22px;
	padding-top: 1.0em;
	padding-bottom: 2.0em;
	color:#1a1a1a;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

/* Home page title */
#chakra_nav h3 {
	margin: 0;
	padding-left: 35px;
	padding-top: 1.0em;
	padding-bottom: 2.0em;
	color:#1a1a1a;
	font-size: 24px;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

/* Lateral shadow */
.bcontentwrap {
	width: 944px;
	background: transparent url('img/theme/shadow_l.png') repeat-y;
	margin: 0px auto;
}

.rbcontent { 
	width: 960px;
	background: transparent url('img/theme/shadow_r.png') repeat-y right; 
}


/* Images */
.floated-img-left {
float: left;
margin-left: 0px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 0px;
}

.floated-img-left2 {
	float: left;
	margin: 20px;
}

.floated-img-left3 {
	float: left;
	margin: 25px 20px;
}

.floated-img-left4 {
	float: left;
	margin: 10px;
}

.floated-img-right {
float: right;
margin: 10px 10px;
}

/* Home page tables */
table.index
{ 
	margin-left: auto;
	margin-right: auto;
	background: url("img/theme/box-1-bg.png");
	border: 1px dashed #1756b6;
	/* background: url(img/theme/box-yellow-bg.png); */
}

table.index2
{ 
	margin-left: auto;
	margin-right: auto;
	background: url("img/theme/box-1-bg.png");
	border: 1px dashed #1756b6;
	/* background: url(img/theme/box-yellow-bg.png); */
}

p.index, p.index2
{ 
text-align:left;
margin-left: 76px;
padding: 5px;
text-align: justify;
color:#333;
font-weight: normal;
font-size: 14px;
font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}


/* 
CONTENT
*/

#content {
	color:#000;
	background: #ffffff;
	width: 944px;
	overflow: hidden;
	height: auto;
	position: absolute;
	margin-top: 0px;
	visibility: visible;
	position: relative;
	padding: 15px 0px;
}

#contentSpacer {
	color: #000;
	width: 100%;
	overflow: hidden;
	height: 1px;
	visibility: hidden;
}


#content h2 {
	margin: 0;
	padding-top: 42px;
	padding-left: 30px;
	font-size: 22px;
	padding-bottom: 1.0em;
	color:#1a1a1a;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

#content h2.title {
	font-size: 22px;
	color:#1a1a1a;
	border-bottom: 1px solid #1a1a1a;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

#content h3 {
	margin-right: 20px;
	padding-left: 20px;
	color:#1a1a1a;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

#content h3.title {
	font-size: 12pt;
	color:#1a1a1a;
	border-bottom: 1px solid #1a1a1a;
	margin-left:20px;
	font-weight: bold;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

#content h4 {
	margin: 0;
	color:#1a1a1a;
	padding-left: 40px;
	padding-bottom: 1.0em;
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

#content h5 {
	margin: 0;
	color:#1a1a1a;
	padding-bottom: 1.0em;
	padding-left: 0px;
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

#content p {
	margin: 0;
	padding: 0.4em 25px;
	color:#000;
	line-height:1.4em;
}

#content p.justifyit {
	margin: 0;
	padding: 0.4em 35px;
	color:#000;
	line-height:1.4em;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
	text-align: justify;
}

a {
	outline: none;
	border: none;
}

#content a:link {
	color: #32adf1;
	text-decoration: none;
	font-weight: bold;
}

#content a:visited {
	color: #32adf1;
	text-decoration: none;
	font-weight: bold;
}

#content a:hover{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#content a:active {
	color: #32adf1;
	text-decoration: none;
	font-weight: bold;
}

#content img.right {
	float: right;
	margin: 0 0 8px 8px;

}
#content img.left {
	float: left;
	margin: 0px 8px 8px 0px;

}
#content ul.right {
	float: right;
	margin: 0px 8px 8px 0px;
	color: #eeeeee;
}


/* Team */
table.deventry {
	padding-bottom: 25px;
}

.deventry th {
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

.deventry td {
	width: 100%;
}

#content table.contacts { 
	font: 1.0em Helvetica, Lucida Grande, Arial, sans-serif;
	width: 95%;
	background-color: transparent;
	border: none;
}
.devpic {
    vertical-align: top;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 15px;
    width: 120px;
}

#content td.contact { 
	font: 1.0em Helvetica, Lucida Grande, Arial, sans-serif;
	text-align: left;
	color: black;
	background-color: transparent;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 0px;
}


/* PACKAGES MESSAGES */
#content p.info { 
	color: #227808; 
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
	font-size: 11pt;
	text-align: right;
	margin-right: 2.1%
}

#content p.warning {
	color: #ff7800;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
	font-size: 11pt;
	text-align: right;
	margin-right: 2.1%
}

#content p.error {
	color: #a42321;
	font-family: Helvetica, Lucida Grande, Arial, sans-serif;
	font-size: 11pt;
	text-align: right;
	margin-right: 2.1%
}

.left {
	  margin: 10px auto;
	  font-size: 14px;
	  font-family: Helvetica, Lucida Grande, Arial, sans-serif;
}

.right {
	  float: right;
	  padding-top: 150px;
	  padding-left: 20px;
	  font-size: 14px;
	  font-family: Helvetica, Lucida Grande, Arial, sans-serif;
	  width: 150px;
}

.bundles_right {
	  float: right;
	  padding-top: 25px;
	  padding-left: 10px;
	  padding-right: 20px;
	  font-size: 14px;
	  font-family: Helvetica, Lucida Grande, Arial, sans-serif;
	  width: 100px;
	  text-align:center;
}

.bundles_right li {
	  padding-bottom:15px;
}

.floated-img-right {
	float:right;
	padding:50px;
	
}

.cent {
	 margin-left:235px;
}

ul.bundlelinks {
	list-style: none;
	font-size: small;
	padding-top: 20px;
	font-size: 14px;
	font-weight: bold;
}



/* FOOTER */
#foot {
	padding: 15px;
	background: transparent url("img/theme/footer2.png") no-repeat;
        /* background: #32adf1; */
	color: #f2f2f2;
	text-align: center;
	margin: 0px 0 0 0;
	font-size: 10pt;
}
#foot a:link {
	color: #f2f2f2;
	text-decoration: none;
	font-weight: bold;
}

#foot a:visited {
	color: #f2f2f2;
	text-decoration: none;
	font-weight: bold;
}

#foot a:hover{
	color: #32adf1;
	text-decoration: none;
	font-weight: bold;
}

#foot a:active {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
